# created by virtualenv automatically
venv/
/.idea/
/.ipynb_checkpoints
/tests/.ipynb_checkpoints
/tests/.pytest_cache
/.mypy_cache
.DS_Store
/notebooks/.DS_Store
/03_results/
tests/__pycache__
er_simulator/__pycache__
.venv
.pytest_cache
nohup.out
main.py
er_simulator.egg-info
build
dist
data